<h1>Reviews for <%= @product.name %></h1>

<table>
  <tr>
    <th>Rating</th>
    <th>Comment</th>
    <th>User email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product.active_reviews.each do |review| %>
  <tr>
    <td><%= review.rating %></td>
    <td><%= review.comment %></td>
    <td><%= review.user_email %></td>
  </tr>
<% end %>
</table>
<%= link_to 'View Products', products_path %>

